DATABASE_URL="postgresql://neondb_owner:npg_oZfRncGEU18B@ep-round-fog-amjzr6eb.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_URL="DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require""
NEXTAUTH_SECRET="w6KAS6GlozJRSqX8VS+KfpZWDr8LbW4FFjOBW2aeVaI="

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SERVICE_SID=""

DEV_SHOW_OTP_PREVIEW="true"
